{% extends "base.html" %}

<!-- Begin Page Content -->
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <div class="d-sm-table align-items-center justify-content-between mt-3"> -->
    <p class="h5 text-gray-400">Ваш отзыв или предложение по улучшению сайта:</p>
    <div class="p-3">
        <!-- <h1 class="h5 mb-0 text-gray-400">Прогноз погоды в Санкт-Петербурге</h1> -->
        <form method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Отправить отзыв">
        </form>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

</div>
{% endblock %}